body {
    background: #6259ac;
  }
  
  .container {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    height: 5rem;
    color: white;
  }
  
  h6 {
    margin-bottom: 10px !important;
  }
  
  .carousel {
    margin-bottom: 10rem;
  }
  
  .carousel-caption {
    bottom: 0;
    z-index: 10;
  }
  
  .carousel-item {
    height: 25rem;
    background-color: #6259ac;
  }
  
  .carousel-item>img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }